@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Background: hsl(223 19% 93%);
  --Card: hsl(0 0% 100%);
  --Text: hsl(211 10% 45%);
  --Delete: hsl(358, 79%, 66%);

  --Palered: hsl(357 100% 86%);
  --ModerateBlue: hsl(238, 40%, 52%);
  --Light-grayblue: hsl(239 57% 85%);

  --Darkblue: hsl(212 24% 26%);
  --Very-lightgray: hsl(228 33% 97%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Background: hsl(204, 6%, 15%);
    --Card: hsl(214 7% 19%);
    --Text: hsl(225 17% 91%);
    --Delete: hsl(358, 86%, 60%);

    --Textarea: hsl(225 7% 24%);
    --DarkBlue: hsl(239, 81%, 63%);
    --SoftBlue: hsl(227, 61%, 66%);
  }
}

@layer base {
  body {
    @apply bg-LightBodyBg dark:bg-DarkBodyBg transition duration-300;
  }
  header {
    @apply bg-LightBodyBg dark:bg-DarkBodyBg dark:text-DarkTxt transition duration-300;
  }

  ::-webkit-scrollbar {
    width: 0.935rem;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 0.2rem var(--Light-grayblue) solid;
    background-color: var(--Card);
  }
  ::-webkit-scrollbar-track {
    background-color: var(--Light-grayblue);
  }
}

@layer utilities {
  .hide-spin-button::-webkit-outer-spin-button,
  .hide-spin-button::-webkit-inner-spin-button {
    appearance: none;
  }
  .gist {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      'user user'
      'text text'
      'vote reply';
  }
  .vote {
    grid-area: vote;
  }
  .user {
    grid-area: user;
  }
  .text {
    grid-area: text;
  }
  .edit_field {
    grid-area: text;
  }
  .reply {
    grid-area: reply;
  }

  .textfield {
    display: grid;
    grid-template-areas:
      'input input'
      'pfp send';
  }
  .submit {
    grid-area: send;
  }
  .input {
    grid-area: input;
  }
  @media (min-width: 48em) {
    .comment {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        'vote user reply'
        'vote text text';
    }
    .textfield {
      grid-template-areas: 'pfp input send';
      grid-template-columns: auto 1fr auto;
    }
  }
}
@layer utilities {
  form,
  textarea {
    @apply transition duration-300;
  }
}
.user {
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas: 'pfp name tag date';
}
.user > picture,
img {
  grid-area: pfp;
}
.user > p {
  grid-area: name;
}
.user > span:first-of-type {
  grid-area: tag;
}
.user > span:last-of-type {
  grid-area: date;
}

/* fix overflow issues on very small screens */
@media (max-width: 22.1875em) {
  .comment {
    grid-template-areas:
      'user user'
      'text text'
      'vote reply'
      'update update';
  }
  .del {
    grid-area: update;
    justify-content: space-between;
    width: 100%;
  }
  .user > picture,
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .user > p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .user > span:last-of-type {
    width: -moz-fit-content;
    width: fit-content;
  }
  .user {
    row-gap: 0;
    grid-template-areas:
      'pfp name tag'
      'pfp date date';
  }
}
